::-webkit-input-placeholder {
    font-family: Comic Sans MS;
    text-align: center;
}

.task-reminder{
    width: 100%;
    margin-top: 50px;
    height: 300px;
}

.task-reminder input[class="title"]{
    margin: 0 auto;
    border: solid #19f;
    border-width: 1px;
    width: 50%;
    margin-top: 20px;
    height: 30px;
}

.task-reminder input[class="deadline"]{
    margin-top: 5px;
    border: solid #19f;
    border-width: 1px;
    width: 50%;
    height: 30px;
}

.task-reminder textarea[class="description"]{
    margin-top: 5px;
    border: solid #19f;
    border-width: 1px;
    width: 49.5%;
    height: 60px;
}

.buttons{
    margin-top: 5px;
    height: 30px;
    
}

.button-add, .button-clear {
	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.button-add:hover, .button-clear:hover{
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.button-add:active, .button-clear:active {
	position:relative;
	top:1px;
}



.task-list{
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    vertical-align: top;
    width: 30%;
    margin: 0 5px;
    margin-top: 75px;
    background-image: url(Images/backgroundT.jpg);
    min-height: 350px;
    border-radius: 7px;
    padding-bottom: 15px;
}

.remind-task{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: #fff;
    width: 88%;
    margin: 0 auto;
    padding: 5px;
}

.remind-task > .task-header{
    font-family: Tahoma, sans-serif;
    font-weight: bold;
}

.remind-task > .task-date{
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: smaller;
    color: #168;
}

.remind-task > .task-description{
    font-family: Comic Sans MS, sans-serif;
    font-size: smaller;
}

h3{
    font-family: Arial Black, sans-serif;
    text-align: center;
}

#delete{
    display: none;
    font-family: Arial Black, sans-serif;
    text-align: center;
    background-color: #fff;
    border: 3px dotted #000;
    margin: 50px;
    height: 75px;
    line-height: 75px;
    text-align: center;
}