.remind-list{
    width: 250px;
    float: left;
    margin: 0 5px;
    background-color: #e3e3e3;
    min-height: 240px;
    border-radius: 10px;
    padding-bottom: 15px;
}

.remind-list input, .remind-list textarea{
    width: 240px;
    margin: 1px 5px;
}

.remind-list input{
    height: 30px;
}

.remind-task{
    border-radius: 5px;
    background-color: #ffffff;
    width: 230px;
    margin: 5px;
    padding: 5px;
}

.remind-list input[type="button"]{
    width: 100px;
    margin: 5px;
}

.remind-task > .remind-header{
    font-weight: bold;
}

.remind-task > .remind-date{
    font-size: small;
    font-style: italic;
}

.remind-task > .remind-description{
    font-size: smaller;
}

h3{
    text-align: center;
}

#delete{
    background-color: #ffffff;
    border: 3px dotted #000000;
    margin: 10px;
    height: 75px;
    line-height: 75px;
    text-align: center;
}

